.footer {
	border-top: 1px solid $gray;
	padding-top: 81px;
	padding-bottom: 83px;
	.logo {
		width: 179px;
		height: 48px;
		background-size: contain;
		margin-right: 0;
		margin-top: 6px;
	}
}
.box-footer {
	display: flex;
	justify-content: space-between;
	&-item {
		display: flex;
		justify-content: space-between;
		flex: 0 0 66.3%;
	}
}
.box-footer-social {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box-copyright {
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
	color: rgba($gray, 0.6);
	&__link {
		text-decoration: none;
		color: rgba($gray, 0.6);
		font-size: 1.125rem;
		transition: all 0.3s ease 0s;
		&:hover {
			color: rgba($gray, 1);
		}
	}
}
.box-footer-list,
.box-footer-social {
	list-style-type: none;
	font-size: 1.125rem;
	&__item {
		margin-bottom: 1.625rem;
	}
	&__link {
		text-decoration: none;
		color: $gray;
		font-size: 1.125rem;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $orange;
		}
	}
	&__tel {
		margin-bottom: 1.875rem;
		.box-footer-list__link {
			font-size: 1.688rem;
		}
	}
}
.box-footer-social {
	display: flex;
	justify-content: space-between;
	margin: 0 3px;
	&__item {
		display: block;
		width: 46px;
		height: 46px;
		border: 2px solid $gray;
		opacity: 0.8;
		border-radius: 100%;
		transition: all 0.3s ease 0s;
		text-align: center;
		&:hover {
			opacity: 1;
		}
	}
	&__link {
		display: block;
		content: "";
		height: 100%;
	}
	&__vk {
		background: url("../../../img/icons/vk.svg") center no-repeat;
		background-size: 23px 28px;
	}
	&__inst {
		background: url("../../../img/icons/instagram.svg") center no-repeat;
		background-size: 18px 18px;
	}
	&__fb {
		background: url("../../../img/icons/facebook.svg") center no-repeat;
		background-size: 18px 18px;
	}
}
